
$bg-primary: #18181a;
$bg-secondary: #2f2f2f;
$bg-light: #fff;
$bg-dark: #000;
$bg-hover: #e7f743;

$clr-primary: #acacb6;
$clr-secondary: #484849;

$font-h1: 2.5rem;
$font-h2: 1.5rem;
$font-h3: 0.75rem;
$font-h4: 0.7rem;
